---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Komandamız - AzeContent</title>
        <link rel="stylesheet" href="../../assets/css/single-post.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">Pərviz Seyidli</h1>
                        <p>Menecer</p>
                        <img src="../../assets/images/teamimg/IMG-20201011-WA0015.png" alt="" />
                        <p class="post-description">
                            Mən, Pərviz Seyidli 2 aprel 2001-ci ildə anadan olmuşam. Hal-hazırda Bakı Mühəndislik Universitetində 3-cü kursda təhsil alıram. Mütaliə etməyi, şeir yazmağı və araşdırma etməyi çox sevirəm. İndiyədək bacardığım
                            qədər gördüyüm işlərdə insanlara kiçik də olsa faydalı olmağa çalışmışam. Bundan sonra da elə olacaq. AzeContent platformasında komandanın PR departamentinin sədriyəm.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>

<style>
    .post-information img {
        width: 320px;
        height: 400px;
    }
</style>
