---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Azerbaycan Dili - AzeContent</title>
        <link rel="stylesheet" href="../../assets/css/single-post.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">İlahə Vəliyeva</h1>
                        <p>SMM</p>
                        <img src="../../assets/images/teamimg/IMG-20201011-WA0b015.png" alt="" />
                        <p class="post-description">
                            Mən, Vəliyeva İlahə 1 fevral 1996-cı ildə anadan olmuşam. 2013-cü ildə Azərbaycan Maliyyə-İqtisad kollecinin “Vergi və vergi tutma” ixtisasına qəbul olmuşam. Bir çox kurslarda dil və komputer biliklərinə
                            yiyələnmişəm. Bu vaxt ərzində bir çox təcrübələr qazanmışam. Beynəlxalq yarışlarda könüllülük fəaliyyətim olub. 2018-ci ildə Azərbaycan Dövlət Rəssamlıq Akademiyasının “Sənətşünaslıq” fakültəsinə daxil olmuşam.
                            Hal-hazırda tələbəyəm, lakin bir neçə sahədə könüllülük fəaliyyətinə və təcrübə proqramlarına davam edirəm.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>

<style>
    .post-information img {
        width: 320px;
        height: 320px;
    }
</style>
