---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Komandamız - AzeContent</title>
        <link rel="stylesheet" href="../../assets/css/single-post.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">Ülkərxanım Abdullazadə</h1>
                        <p class="position">Asistant Menecer</p>
                        <img src="../../assets/images/teamimg/ukerxanim-abdullazade.jpg" alt="" />
                        <p class="post-description">
                            Mən, Abdullazadə Ülkərxanım 25 may 2000-ci ildə anadan olmuşam. 2017-ci ildə Bakı Dövlət Universitetinin “Dünya İqtisadiyyatı” ixtisasının bakalavr səviyyəsinə qəbul olmuşam. Hal-hazırda həmin ixtisasın 4-cü kurs tələbəsiyəm. Təhsil aldığım illərdə ortalamamı yüksək saxlamağa və fəal tələbə olmağa çalışmışam. Universitetin “Debat Klubu”nun üzvü olmuşam və bir sıra turlarda fərqlənmə üzrə sertifikat almışam. Hazırda magistr pilləsini qazanmaq üçün hazırlaşıram.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>

<style>
    .post-information img {
        width: 320px;
        height: 320px;
        border-radius: 50%;
    }
</style>
