---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>Azerbaycan Dili - AzeContent</title>
    <link rel="stylesheet" href="../../assets/css/single-post.css" />
    <link rel="stylesheet" href="../../assets/css/team-member.css" />
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar.html %}
        </div>
    </header>

    <!-- single-post section -->
    <div class="container">
        <section class="single-post-section">
            <div class="single-post-content">
                <div class="post-information">
                    <h1 class="title post-title" style="text-transform: capitalize;">Ehtiman Nurəlizadə</h1>
                    <p class="position">Həmtəsisçi</p>
                    <img src="../../assets/images/teamimg/ehtiman.png" alt="" />
                    <p class="post-description">
                        Mən, Ehtiman Nurəlizadə 1 may 1999-cu ildə doğulmuşam. 2016-cı ildə Qafqaz Universitetinin
                        bakalavr səviyyəsinə qəbul olmuşam. Təhsil aldığım müddət boyu bir sıra sosial və təhsil yönümlü
                        layihələrin təşkil
                        olunmasında iştirak etmişəm. Bu müddət boyu fərqli layihələrin təşkili və idarəedilməsi ilə
                        yanaşı öz akademik inkişafıma da yer ayırmışam. 2019-cu ildə oxuduğum universitetdə təşkil
                        olunmuş Gənc Tədqiqatçıların
                        III Beynəlxalq Elmi Konfransında elmi məqalə ilə çıxış etmişəm və məqalə konfransın kitabında
                        nəşr olunub. 2019-cu ildən bəri özəl şirkətlərin birində çalışıram. 2020-ci ildən isə
                        "Azerbaijan Science
                        Association"nın üzvüyəm və orda da fəaliyyətimi davam etdirirəm.
                    </p>
                </div>
            </div>
        </section>
    </div>


    <!--
        [27.10, 0:03] Ehtiman: Nicad fb: https://facebook.com/profile.php?id=100022583580907
        [27.10, 0:04] Ehtiman: Nicad linkedIn: https://www.linkedin.com/in/hnijad -->

    <!-- social media section  -->
    <section class="social-media-section">
        <div class="container icons-content">
            <a href="https://facebook.com/ehtimannuralizade">
                <!-- <i class="fab fa-facebook-square  facebook"></i> -->
                <i class="fab fa-facebook-f team-member-facebook icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/enuralizade">
                <i class="fab fa-linkedin-in icon team-member-linkedin"></i>
            </a>
            <a href="https://twitter.com/enuralizade">
                <i class="fab fa-twitter icon team-member-twitter"></i>
            </a>
            <a>
                <i class="fab fa-github icon github"></i>
            </a>
        </div>
    </section>

    {% include footer.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../../assets/js/script.js"></script>
</body>

</html>

<style>
    .post-information img {
        width: 320px;
        height: 320px;
    }

    .position {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
</style>