---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Komandamız - AzeContent</title>
    {% include head.html %}
    <link href="/assets/css/team.css" rel="stylesheet" />
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar.html %}
        </div>
    </header>

    <!-- main section  -->
    <main class="main-section">
        <div class="main-content container">
            <div class="title-wrapper">
                <h1 class="title">Komandamız</h1>
                <hr>
            </div>
            <div class="chairmen">
                <a href="/team/ehtiman-nuralizade" class="team-member">
                    <img src="../assets/images/teamimg/ehtiman.png" />
                    <div class="chairman-hover">
                        <p class="hover-text">Ehtiman Nürəlizadə</p>
                        <p class="hover-position">Həmtəsisçi</p>
                    </div>
                </a>

                <a href="/team/nijad-huseynov" class="team-member">
                    <img src="../assets/images/teamimg/nicad.png" />
                    <div class="chairman-hover">
                        <p class="hover-text">Nicad Hüseynov</p>
                        <p class="hover-position">Həmtəsisçi</p>
                    </div>
                </a>
            </div>

            <div class="team-content">
                <a href="/team/sahile-nemetli" class="team-member">
                    <img src="../assets/images/teamimg/sahile-nemetli.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Sahilə Nemətli</p>
                        <p class="hover-position">Menecer</p>
                    </div>
                </a>
                <a href="/team/perviz-seyidli" class="team-member">
                    <img src="../assets/images/teamimg/parviz-seyidli.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Pərviz Seyidli</p>
                        <p class="hover-position">Menecer</p>
                    </div>
                </a>
                <a href="/team/samira-huseynli" class="team-member">
                    <img src="../assets/images/teamimg/samira-huseyinli.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Samirə Hüseynli</p>
                        <p class="hover-position">Menecer</p>
                    </div>
                </a>


                <a href="/team/emil-mirzezade" class="team-member">
                    <img src="../assets/images/teamimg/emil.png" /> <!-- IMG-20201011-WhA0015 -->
                    <div class="team-member-hover">
                        <p class="hover-text">Emil Mirzəzadə</p>
                        <p class="hover-position">Developer</p>
                    </div>
                </a>

                <a href="/team/gullubeyim-aliyeva" class="team-member">
                    <img src="../assets/images/teamimg/gullubeyim-aliyeva.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Güllübəyim Əliyeva</p>
                        <p class="hover-position">Dizayner</p>
                    </div>
                </a>

                <a href="/team/nijat-dursunlu" class="team-member">
                    <img src="../assets/images/teamimg/1748.jpg" />
                    <div class="team-member-hover">
                        <p class="hover-text">Nicat Dursunlu</p>
                        <p class="hover-position">Developer</p>
                    </div>
                </a>


                <a href="/team/narmın-ərdənər" class="team-member">
                    <img src="../assets/images/teamimg/narmin-erdener.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Nərmin Ərdənər</p>
                        <p class="hover-position">Layihə Üzvü</p>
                    </div>
                </a>

                <a href="/team/medine-hesenzade" class="team-member">
                    <img src="../assets/images/teamimg/medine-hesenzade.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Mədinə Həsənzadə</p>
                        <p class="hover-position">Layihə Üzvü</p>
                    </div>
                </a>

                <a href="/team/lale-kerimova" class="team-member">
                    <img src="../assets/images/teamimg/lale-kerimova.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Lalə Kərimova</p>
                        <p class="hover-position">Layihə Üzvü</p>
                    </div>
                </a>

                <a href="/team/ilahe-veliyeva" class="team-member">
                    <img src="../assets/images/teamimg/ilahe-veliyeva.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">İlahə Vəliyeva</p>
                        <p class="hover-position">SMM</p>
                    </div>
                </a>

                <a href="/team/ulkerxanım-abdullazade" class="team-member">
                    <img src="../assets/images/teamimg/ukerxanim-abdullazade.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Ülkərxanım Abdullazadə</p>
                        <p class="hover-position">Asistant Menecer</p>
                    </div>
                </a>

            </div>
        </div>
    </main>

    {% include footer.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../assets/js/script.js"></script>
</body>

</html>