---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>Azerbaycan Dili - AzeContent</title>
    <link rel="stylesheet" href="../../assets/css/single-post.css" />
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar.html %}
        </div>
    </header>

    <!-- single-post section -->
    <div class="container">
        <section class="single-post-section">
            <div class="single-post-content">
                <div class="post-information">
                    <h1 class="title post-title" style="text-transform: capitalize;">Mədinə Həsənzadə</h1>
                    <p class="position">Layihə Üzvü</p>
                    <img style="border-radius: 50%;" src="../../../assets/images/teamimg/medine-hesenzade.png" alt="" />
                    <p class="post-description">
                        Mən, Həsənzadə Mədinə 24 avqust 1999-cu ildə Bakı şəhərində anadan olmuşam. 2016-2020-ci illərdə
                        Bakı Dövlət Universitetinin “Filologiya” fakültəsində təhsil almışam. Təhsil aldığım illərdə bir
                        sıra intellektual
                        yarışmalarda iştirak etmişəm. Bu illərdə bədii kitablar oxuyaraq düşüncə tərzimi inkişaf
                        etdirməyi seçmişəm. 2020-ci ildən Asan-da könüllü olaraq fəaliyyət göstərirəm. Qədim göytürk,
                        əski əlifba və jest dili
                        biliklərinə malikəm.
                    </p>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../../assets/js/script.js"></script>
</body>

</html>

<style>
    .post-information img {
        width: 320px;
        height: 320px;
    }
</style>