---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <title> About - AzeContent </title>
  {% include head.html %}
  <link rel="stylesheet" href="../../assets/css/about.css" />
</head>

<body>
  <!-- main-section -->
  <main class="main-section">
    <div class="main-content">
      {% include navbar_en.html %}

      <div class="title-wrapper">
        <h1 class="title">About</h1>
        <hr />
      </div>

      <div class="about-container">
        <h1 class="about-title">Who are we?</h1>
        <hr />
        <p class="about-text">
          AzeContent is an online platform created for the gathering of the necessary content in the Azerbaijani language in a single space for the development of young people and for foreigners to learn our language more easily and practically. As the youth of Azerbaijan, we are aware of the importance of adapting our language not to the requirements of the century or the year, but to the requirements of the day.  That's why we are with you from now on! 
        </p>
      </div>

      <div class="about-container mission-container">
        <h1 class="about-title mission-title">Our Mission</h1>
        <hr />
        <p class="about-text mission-text">
          Our mission is to provide people, especially young people, with contents in our language, to remove the language barrier that hinders their development, to make our language more well-known among young people. it is to make the Azerbaijani language accessible not only for local youth, but also for foreigners. In short, it is to develop our own language and to develop in our own language.
        </p>
      </div>

      <div class="about-container vision-container">
        <h1 class="about-title vision-title">Our Vision</h1>
        <hr />
        <p class="about-text vision-text">
          - To cross borders in our own language,
          - Recognition among local youth,
          - To implement unrealized projects,
          - To become the most leading platform,
          - Finally, to build our country in our own language.
        </p>
      </div>
    </div>
  </main>

  {% include footer_en.html %}

  <!-- animation js  -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- script js  -->
  <script src="../../assets/js/script.js"></script>
</body>

</html>
