---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <title> About - AzeContent </title>
  {% include head.html %}
  <link rel="stylesheet" href="../../assets/css/about.css" />
</head>

<body>
  <!-- main-section -->
  <main class="main-section">
    <div class="main-content">
      {% include navbar_en.html %}

      <div class="title-wrapper">
        <h1 class="title">About</h1>
        <hr />
      </div>

      <div class="about-container">
        <h1 class="about-title">Who are we?</h1>
        <hr />
        <p class="about-text">
          "AzeContent" is a collection of necessary content in the Azerbaijani language in a single space for the
          development of youth and
          is an online platform created for foreigners to learn our language more easily and practically. Azerbaijani
          youth
          We are aware of the importance of adapting our language to the requirements of the day, not the century.
          That's why we are with you now!
        </p>
      </div>

      <div class="about-container mission-container">
        <h1 class="about-title mission-title">Our Mission</h1>
        <hr />
        <p class="about-text mission-text">
          Providing people, especially young people, with content in our language is a language that hinders their
          development
          to remove the obstacle, to make our language more popular among young people. Not just for local youth as well
          to make the Azerbaijani language accessible to foreigners. In short, to develop our own language and our own
          is to develop in our language.
        </p>
      </div>

      <div class="about-container vision-container">
        <h1 class="about-title vision-title">Our Vision</h1>
        <hr />
        <p class="about-text vision-text">
          - Crossing borders in our own language, <br />
          - Recognition among local youth, <br />
          - Implement unrealized projects, <br />
          - To become the leading platform, <br />
          - Finally, to build our country in our own language.
        </p>
      </div>
    </div>
  </main>

  {% include footer_en.html %}

  <!-- animation js  -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- script js  -->
  <script src="../../assets/js/script.js"></script>
</body>

</html>