---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>Eduabroad - AzeContent</title>
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar_en.html %}
        </div>
    </header>

    <!-- page title  -->
    <div class="title-wrapper">
        <h1 class="title">Eduabroad</h1>
        <hr />
    </div>

    <!-- category section -->
    <section class="category-section container">
        <div class="category-content">
            <ul class="category-nav">
                <li><a class="option" href="/en/posts/eduabroad">General</a></li>
                <li><a class="option" href="/en/posts/eduabroad/exams">Exams</a></li>
                <li><a class="option" href="/en/posts/eduabroad/countries">Countries</a></li>
                <li><a class="option" href="/en/posts/eduabroad/scholarships">Scholarships</a></li>
                <li><a class="option" href="/en/posts/eduabroad/universities">Universites</a></li>
            </ul>
            <!-- <hr> -->
        </div>
    </section>

    <!-- home section -->
    <section class="home-section container">
        <div class="home-content">
            {% for post in site.posts %} {% if post.type == "xaricdə_təhsil" and post.categories contains 'təqaüdlər' %}
            {% include article.html %} {% endif %} {% endfor %}
        </div>
    </section>

    {% include footer_en.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../../assets/js/script.js"></script>
</body>

</html>