<!-- scroll-up-btn  -->
<div class="scroll-up-btn">
  <i class="fas fa-angle-up"></i>
</div>
<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="/assets/images/logo.png" class="logo-img" alt="" />
    </a>
  </div>
  <div class="menu">
    <li class="link-li">
      <a class="link" href="/en/">Main Page</a>
    </li>
    <div class="post-links-container">
      <a class="link" href="#">
        Posts<i class="fas fa-caret-down"></i>
      </a>
      <div class="post-links-content">
        <li><a class="post-link" href="/en/posts/azerbaijani">Azerbaijani</a></li>
        <li><a class="post-link" href="/en/posts/literature/">Literature</a></li>
        <li><a class="post-link" href="/en/posts/ict/">ICT</a></li>
        <li><a class="post-link" href="/en/posts/economy/">Economy</a></li>
        <li><a class="post-link" href="/en/posts/eduabroad/">Eduabroad</a></li>
        <li><a class="post-link" href="/en/posts/psychology/">Psychology</a></li>
      </div>
    </div>
    <li class="link-li"><a class="link" href="/en/partnership/">Partnership</a></li>
    <li class="link-li">
      <a class="link" href="/en/about/">About</a>
    </li>
    <li class="link-li">
      <a class="link" href="/en/team/">Our Team</a>
    </li>
    <li class="link-li">
      <a class="link" href="/en/contact/">Contact</a>
    </li>
    <!-- <li class="language-links-container">
      <a class="link" href="#">
        <img src="/assets/images/EN.png" alt="" class="en-img" />
        EN<i class="fas fa-caret-down"></i>
      </a>
      <div class="language-links-content">
        <a href="/" class="language-link">
          <img src="/assets/images/AZ.png" alt="" class="az-img" />
          AZ
        </a>
      </div>
    </li> -->
    <li class="language-links-container aaa">
      <div class="link">
        EN<i class="fas fa-caret-down"></i>
      </div>
      <div class="language-links-content">
        <a href="/" class="language-link">AZ</a>
      </div>
    </li>
  </div>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
</nav>
