---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Komandamız - AzeContent</title>
        <link rel="stylesheet" href="../../assets/css/single-post.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">Samirə Hüseynli</h1>
                        <p class="position">Menecer</p>
                        <img src="../../assets/images/teamimg/IMG-20201011-WrA0015.png" alt="" />
                        <p class="post-description">
                            Mən, Samirə Hüseynli 26 noyabr 1999-cu ildə doğulmuşam. 2016-cı ildə Qafqaz Universitetinin bakalavr səviyyəsinə qəbul olmuş və təhsil həyatım boyunca akademik göstəricilərimi yüksək saxlamağa çalışmışam.
                            Vaxtaşırı dil biliklərimi artırmaq və kitablar oxumağa çalışıram. Bir sıra sosial layihələrdə özümü sınamışam. Hal-hazırda onlardan biri olan AzeContent platformasında layihə meneceri olaraq fəaliyyət
                            göstərirəm.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>

<style>
    .post-information img {
        width: 320px;
        height: 420px;
    }
</style>
