---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Out Team - AzeContent</title>
    {% include head.html %}
    <link href="../../assets/css/team.css" rel="stylesheet" />
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar_en.html %}
        </div>
    </header>

    <!-- main section  -->
    <main class="main-section">
        <div class="main-content container">
            <div class="title-wrapper">
                <h1 class="title">Out Team</h1>
                <hr>
            </div>
            <div class="chairmen">
                <a href="/en/team/ehtiman-nuralizade/" class="team-member">
                    <img src="../../assets/images/teamimg/ehtiman.png" />
                    <div class="chairman-hover">
                        <p class="hover-text">Ehtiman Nuralizadeh</p>
                        <p class="hover-position">Co-founder</p>
                    </div>
                </a>

                <a href="/en/team/nijad-huseynov" class="team-member">
                    <img src="../../assets/images/teamimg/nicad.png" />
                    <div class="chairman-hover">
                        <p class="hover-text">Nijad Huseinov</p>
                        <p class="hover-position">Co-founder</p>
                    </div>
                </a>
            </div>

            <div class="team-content">
                <a href="/en/team/sahile-nemetli" class="team-member">
                    <img src="../../assets/images/teamimg/sahile-nemetli.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Sahila Nematli</p>
                        <p class="hover-position">Manager</p>
                    </div>
                </a>
                <a href="/en/team/perviz-seyidli" class="team-member">
                    <img src="../../assets/images/teamimg/parviz-seyidli.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Parviz Seyidli</p>
                        <p class="hover-position">Manager</p>
                    </div>
                </a>
                <a href="/en/team/samira-huseynli" class="team-member">
                    <img src="../../assets/images/teamimg/samira-huseyinli.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Samira Huseinli</p>
                        <p class="hover-position">Manager</p>
                    </div>
                </a>


                <a href="/en/team/emil-mirzezade" class="team-member">
                    <img src="../../assets/images/teamimg/emil.png" /> <!-- IMG-20201011-WhA0015 -->
                    <div class="team-member-hover">
                        <p class="hover-text">Emil Mirzazadeh</p>
                        <p class="hover-position">Developer</p>
                    </div>
                </a>

                <a href="/en/team/gullubeyim-aliyeva" class="team-member">
                    <img src="../../assets/images/teamimg/gullubeyim-aliyeva.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Gullubayim Aliyeva</p>
                        <p class="hover-position">Designer</p>
                    </div>
                </a>

                <a href="/en/team/nijat-dursunlu" class="team-member">
                    <img src="../../assets/images/teamimg/nicat-dursunlu.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Nijat Dursunlu</p>
                        <p class="hover-position">Developer</p>
                    </div>
                </a>

                <a href="/en/team/narmın-ərdənər" class="team-member">
                    <img src="../../assets/images/teamimg/narmin-erdener.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Narmin Erdener</p>
                        <p class="hover-position">Project Member</p>
                    </div>
                </a>

                <a href="/en/team/medine-hesenzade" class="team-member">
                    <img src="../../assets/images/teamimg/medine-hesenzade.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Madina Hasanzadeh</p>
                        <p class="hover-position">Project Member</p>
                    </div>
                </a>

                <a href="/en/team/lale-kerimova" class="team-member">
                    <img src="../../assets/images/teamimg/lale-kerimova.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Lala Karimova</p>
                        <p class="hover-position">Project Member</p>
                    </div>
                </a>

                <a href="/en/team/ilahe-veliyeva" class="team-member">
                    <img src="../../assets/images/teamimg/ilahe-veliyeva.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">İlaha Valiyeva</p>
                        <p class="hover-position">SMM</p>
                    </div>
                </a>

                <a href="/en/team/ulkerxanım-abdullazade" class="team-member">
                    <img src="../../assets/images/teamimg/ukerxanim-abdullazade.png" />
                    <div class="team-member-hover">
                        <p class="hover-text">Ulkarxanım Abdullazadeh</p>
                        <p class="hover-position">Asistant Manager</p>
                    </div>
                </a>

            </div>
        </div>
    </main>

    {% include footer_en.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../../assets/js/script.js"></script>
</body>

</html>