---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Azerbaycan Dili - AzeContent</title>
        <link rel="stylesheet" href="../../assets/css/single-post.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">Sahilə Nemətli</h1>
                        <p class="position">Menecer</p>
                        <img src="../../assets/images/teamimg/IMG-2020h1011-WA0015.png" alt="" />
                        <p class="post-description">
                            Mən, Sahilə Nemətli 22 dekabr 2000-ci ildə doğulmuşam. 2018-ci ildə Bakı Mühəndislik Universitetində “Mühasibat uçotu və audit” ixtisası üzrə bakalavr səviyyəsinə qəbul olmuşam. Təhsil aldığım illər ərzində həm
                            universitet daxili, həm universitet xarici bir sıra layihələrin təşkilində iştirak etmişəm. 2020-ci ildən özəl şirkətlərin birində çalışıram. Hal-hazırda AzeContent komandasında fəaliyyət göstərirəm. Bu komandaya
                            gəlmə məqsədim həm faydalanmaq, həm də faydalı olmaqdır. Komanda olaraq isə missiyamız öz dilimizdə inkişaf etmək və bu dili inkişaf etdirməyə dəstək olmaqdır.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>

<style>
    .post-information img {
        width: 320px;
        height: 420px;
    }
</style>
