---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Azerbaycan Dili - AzeContent</title>
        <link rel="stylesheet" href="../../assets/css/single-post.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">Güllübəyim Əliyeva</h1>
                        <p>Dizayner</p>
                        <img src="../../assets/images/teamimg/IMG-20201011-WA0d015.png" alt="" />
                        <p class="post-description">
                            Mən, Güllübəyim Əliyeva 1 may 2001-ci ildə anadan olmuşam. 2018-ci ildə Azərbaycan Dövlət Rəssamlıq Akademiyasının “Dizayn” ixtisasının bakalavr səviyyəsinə qəbul olmuşam. Vaxtımın çox hissəsini sahəm üzrə
                            inkişaf etməyə və yaradıcılığa sərf edirəm. Hazırda başqa bir sosial layihənin də üzvüyəm, orada da qrafik dizayner kimi fəaliyyət göstərirəm.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>

<style>
    .post-information img {
        width: 320px;
        height: 320px;
    }
</style>
