---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>  Ehtiman Nuralizadeh - AzeContent</title>
    <link rel="stylesheet" href="../../../assets/css/single-post.css" />
    <link rel="stylesheet" href="../../../assets/css/team-member.css" />
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar_en.html %}
        </div>
    </header>

    <!-- single-post section -->
    <div class="container">
        <section class="single-post-section">
            <div class="single-post-content">
                <div class="post-information">
                    <h1 class="title post-title" style="text-transform: capitalize;">Ehtiman Nuralizadeh</h1>
                    <p class="position">Co-founder</p>
                    <img src="../../../assets/images/teamimg/ehtiman.png" alt="" />
                    <p class="post-description">
                        I, Ehtiman Nuralizadeh, was born on May 1, 1999. Qafqaz University in 2016
                        I was admitted to the bachelor's degree. During my studies, a number of social and educational
                        orientation
                        organize projects
                        I took part in making. By organizing and managing different projects during this period
                        I have also devoted space to my own academic development. Organized at the university where I
                        studied in 2019
                        of Young Researchers
                        I presented a scientific article at the III International Scientific Conference and the article
                        is in the conference book
                        published. I have been working for one of the private companies since 2019. And from 2020
                        "Azerbaijan Science
                        I am a member of the Association and continue to work there.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- social media section  -->
    <section class="social-media-section">
        <div class="container icons-content">
            <a href="https://facebook.com/ehtimannuralizade" target="_blank">
                <i class="fab fa-facebook-f team-member-facebook icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/enuralizade" target="_blank">
                <i class="fab fa-linkedin-in icon team-member-linkedin"></i>
            </a>
            <a href="https://twitter.com/enuralizade" target="_blank">
                <i class="fab fa-twitter icon team-member-twitter"></i>
            </a>
        </div>
    </section>

    {% include footer_en.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../../assets/js/script.js"></script>
</body>

</html>