---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Azerbaycan Dili - AzeContent</title>

        <link rel="stylesheet" href="../../assets/css/team-member.css" />
    </head>

    <body>
        <!-- header section -->
        <header class="header-section">
            <div class="header-content">
                {% include navbar.html %}
            </div>
        </header>

        <!-- single-post section -->
        <div class="container">
            <section class="single-post-section">
                <div class="single-post-content">
                    <div class="post-information">
                        <h1 class="title post-title" style="text-transform: capitalize;">Emil Mirzəzadə</h1>
                        <p class="position">Developer</p>
                        <img src="../../assets/images/teamimg/emil.png" alt="" />
                        <p class="post-description">
                            Mən, Emil Mirzəzadə 9 sentyabr 2001-ci ildə anadan olmuşam. 2018-ci ildə Azərbaycan Dövlət Neft və Sənaye universitetinin “Kompüter elmləri” ixtisasının bakalavr səviyyəsinə daxil olmuşam. Təhsil aldığım müddət
                            boyu vaxtımın böyük hissəsini proqramlaşdırmaya ayırmışam. 2020-ci ildən özəl şirkətlərin birində proqramçı kimi işləyirəm. Hal-hazırda isə özünü inkişaf etdirmək istəyən gənclər və dilimizi öyrənmək istəyən
                            xaricilər üçün AzeContent-də "Back-End Developer" kimi fəaliyyət göstərirəm. İnanıram ki, AzeContent hər kəs üçün faydalı olacaq.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {% include footer.html %}

        <!-- animation js  -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- script js  -->
        <script src="../../assets/js/script.js"></script>
    </body>
</html>
