---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>Nijad Huseinov - AzeContent</title>
    <link rel="stylesheet" href="../../../assets/css/single-post.css" />
    <link rel="stylesheet" href="../../../assets/css/team-member.css" />
</head>

<body>
    <!-- header section -->
    <header class="header-section">
        <div class="header-content">
            {% include navbar_en.html %}
        </div>
    </header>

    <!-- single-post section -->
    <div class="container">
        <section class="single-post-section">
            <div class="single-post-content">
                <div class="post-information">
                    <h1 class="title post-title" style="text-transform: capitalize;">Nijad Huseinov</h1>
                    <p class="position">Co-founder</p>
                    <img src="../../../assets/images/teamimg/nicad.png" alt="" />
                    <p class="post-description">
                        I, Nijad Huseynov, was born on July 26, 1999. Qafqaz University in 2016
                        I was admitted to the bachelor's degree. Participate in a number of social projects throughout
                        my educational life
                        I tried to do. However
                        I spend most of my time preparing for and participating in programming competitions
                        I did. Participation in programming Olympiads both in our country and abroad
                        I did. I participated
                        Achieve high results in a number of Olympics, both as a team and individually
                        I did. 3 times as a team, the first inter-university, and individually, "Pasha Bank
                        2nd place in "Programming Contest"
                        I have been awarded.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- social media section  -->
    <section class="social-media-section">
        <div class="container icons-content">
            <a href="https://facebook.com/profile.php?id=100022583580907" target="_blank">
                <i class="fab fa-facebook-f team-member-facebook icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/hnijad" target="_blank">
                <i class="fab fa-linkedin-in icon team-member-linkedin"></i>
            </a>
            <a href="https://github.com/HNicad" target="_blank">
                <i class="fab fa-github icon team-member-github"></i>
            </a>
        </div>
    </section>

    {% include footer_en.html %}

    <!-- animation js  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- script js  -->
    <script src="../../assets/js/script.js"></script>
</body>

</html>